<app-employee-edit></app-employee-edit>
<div id="emplyoeeList">
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Email-Id</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let employees of Employees, let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{employees.name}}</td>
    <td>{{employees.age}}</td>
    <td>{{employees.emailId}}</td>
  <button class="btn btn-primary emp" (click)="onEdit(i)" style="margin-right: 10px">
    <span class="glyphicon glyphicon-pencil"></span>Edit
  </button>
  <button class="btn btn-danger emp" (click)="onDelete(i)">
    <span class="glyphicon glyphicon-trash"></span>Delete
  </button>
  </tr>
  </tbody>
</table>
</div>


